@model Register
@{
    Layout = "_Layout";
}

<h1 class="contentTitle">Create New User Account</h1>
<form class="registerForm" method="post">

    <div>
        <label class="signLbl" asp-for="UserName">Username</label>
        <input class ="signInField" type="text" asp-for="UserName" />
    </div>
    <label class="signLbl" asp-for="Password"></label>
    <input class ="signInField" type="password" asp-for="Password" />
    <div>
        <label class="signLbl" asp-for="ConfirmPassword">Confirm Password</label>
        <input class ="signInField" type="password" asp-for="ConfirmPassword" />
    </div>
    <div>
        <label class ="signLbl"asp-for="Email"></label>
        <input class ="signInField" type="text" asp-for="Email" />
    </div>
    <div>
        <label class ="signLbl"asp-for="FullName">Full Name</label>
        <input class ="signInField" type="text" asp-for="FullName" />
    </div>
    <div>
    <button class="signInBtn" type="submit">Create</button>
    </div>

  
</form>