@model WAD_Assignment.Models.Recipe
@{
    Layout = "_CMS";

}

    <h1 class="contentTitle">Delete @Model.Title?</h1>

<form class="signIn" method="post">

    <input type="hidden" name="RecipeID" value="@Model.RecipeID" />


    <button type="submit" value="Delete" class="signInBtn">Delete</button>

    <button type="submit" asp-controller="CMS" asp-action="Index" class="signInBtn">Save</button>

</form>