@{
    ViewData["Title"] = "All Recipes";

}

<h1 class="contentTitle">All Recipes</h1>

<section class="RecipeFlexContainer">
@foreach (var rec in Model)
{

    <div class="RecipeContainer">
    <img class ="RecipeImage"src ="~/images/FoodImages/@rec.Image"/>
        <div class="hoverEffect">
            <div class="recTitleText">@rec.Title</div>
        </div>


   
   
         </div>
}
</section>