/* Fonts */

@import url(https://fonts.googleapis.com/css?family=Raleway);

h1,
h2,
p{
    font-family: "Raleway", sans-serif;
}
@media screen and (min-width: 720px) {

    .signInContainer {
        display: flex;
        justify-content: space-evenly;
        width: 200px;
        float: right;
        position: relative;
        top: -200px;
    }
}

    #loginBtn {
        background-color: rgba(255, 255, 0, 0.9);
        border: solid 2px white;
        border-radius: 5px;
        color: black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        float: right;
    }


    @media screen and (min-width: 720px) {
        /* Container that holds all website */
        .siteContainer {
            margin: auto;
            max-width: 1200px;
            background-color: aliceblue;
        }
    }
    /* Header image + nav*/

    @media screen and (min-width: 720px) {
        header {
            background-image: url(../images/header.jpeg);
            height: 200px;
            padding-left: 0;
        }
    }

    @media screen and (min-width: 720px) {
        header h1 {
            color: white;
            font-size: 48px;
            width: 100%;
            padding: 25px;
            display: inline;
            background: rgba(255, 255, 0, 0.5);
            position: relative;
            top: 50px;
        }
    }

    @media screen and (min-width: 720px) {
        .burgerMenu, .mobH1 {
            display: none;
        }
    }

    @media screen and (min-width: 720px) {
        nav {
            width: 100%;
            height: 30px;
            background: rgba(0, 0, 0, 0.5);
            position: relative;
            top: 96px;
            border-top: solid white 2px;
            border-bottom: solid white 2px;
        }
    }

    @media screen and (min-width: 720px) {
        nav ul {
            flex-direction: row;
            box-sizing: border-box;
            position: relative;
            top: -10px;
        }
    }

    @media screen and (min-width: 720px) {
        nav li a:hover {
            color: #e8ff7f;
            text-decoration: underline;
        }
    }

    @media screen and (min-width: 720px) {
        nav li a {
            color: white;
            text-decoration: none;
        }
    }

    @media screen and (min-width: 720px) {
        nav ul li {
            display: inline;
            padding-left: 10px;
            padding-right: 10px;
            border: none;
            border-left: 1px solid #fff;
            font-family: "Raleway", sans-serif;
            color: white;
        }
    }



    @media screen and (min-width: 720px) {
        nav li:first-child {
            border-left: none;
        }
    }

    @media screen and (min-width: 720px) {
        .RecipeFlexContainer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }

    @media screen and (min-width: 720px) {
        .RecipeContainer {
            width: 300px;
            padding: 10px;
            position:relative;
        }
    }
.RecipeContainer:hover .hoverEffect {
    transform: scale(1);
}
    .RecipeImage {
        width:100%;
        height:auto;
    }

.hoverEffect {
    position: absolute;
    border-radius:5px;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: .2s ease-in-out
}

.recTitleText {
    width:90%;
    color: white;
    font-family: "Raleway", sans-serif;
    text-align:center;
    position: absolute;
    top:120px;
    left:20px;
}
    @media screen and (min-width: 720px) {
        footer {
            background-image: url(../images/header.jpeg);
            height: 200px;
            padding-left: 0;
        }
    }

    .CmsTable {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 80%;
        margin: auto;
    }


        .CmsTable td, .CmsTable th {
            border: 1px solid #ddd;
            padding: 8px;
        }


        .CmsTable tr:nth-child(even) {
            background-color: #f2f2f2;
        }


        .CmsTable tr:hover {
            background-color: #ddd;
        }


        .CmsTable th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }

    .signIn {
        margin: auto;
        width: 500px;
        padding: 20px;
        border: dotted white 6px;
        border-radius: 10px;
    }

    .signInBtn {
        background-color: rgba(0, 0, 0, 0.9);
        border: solid 2px white;
        border-radius: 5px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        width: 90%;
        margin: 15px;
    }

    .signInField {
        width: 90%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin: 20px;
    }

    .signLbl {
        font-family: "Raleway", sans-serif;
        color: black;
        clear: left;
        text-align: right;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .registerForm {
        margin: auto;
        width: 500px;
    }


    .contentTitle {
        margin-left: 30px;
    }

    .cookingStep {
        width: 90%;
        height: 150px;
        resize: none;
        margin: 20px;
    }

    .mainContainer {
        background-color: aliceblue;
        margin-bottom: 50px;
    }