/* Fonts */

@import url(https://fonts.googleapis.com/css?family=Raleway);

h1,
h2 {
    font-family: "Raleway", sans-serif;
}

@media screen and (min-width: 720px) {
    /* Container that holds all website */
    .siteContainer {
        margin: auto;
        max-width: 1200px;
    }
}
/* Header image + nav*/

@media screen and (min-width: 720px) {
    header {
        background-image: url(../images/header.jpeg);
        height: 200px;
        padding-left: 0;
    }
}

@media screen and (min-width: 720px) {
    header h1 {
        color: white;
        font-size: 48px;
        width: 100%;
        padding: 25px;
        display: inline;
        background: rgba(255, 255, 0, 0.5);
        position: relative;
        top: 50px;
    }
}

@media screen and (min-width: 720px) {
    .burgerMenu, .mobH1 {
        display: none;
    }
}

@media screen and (min-width: 720px) {
    nav {
        width: 100%;
        height: 30px;
        background: rgba(0, 0, 0, 0.5);
        position: relative;
        top: 96px;
        border-top: solid white 2px;
        border-bottom: solid white 2px;
    }
}

@media screen and (min-width: 720px) {
    nav ul {
        flex-direction: row;
        box-sizing: border-box;
        position: relative;
        top: -10px;
    }
}

@media screen and (min-width: 720px) {
    nav li a:hover {
        color: #e8ff7f;
        text-decoration: underline;
    }
}

@media screen and (min-width: 720px) {
    nav li a {
        color: white;
        text-decoration: none;
    }
}

@media screen and (min-width: 720px) {
    nav ul li {
        display: inline;
        padding-left: 10px;
        padding-right: 10px;
        border: none;
        border-left: 1px solid #fff;
        font-family: "Raleway", sans-serif;
        color: white;
       
    }
}



@media screen and (min-width: 720px) {
    nav li:first-child {
        border-left: none;
    }
}

@media screen and (min-width: 720px) {
    .RecipeFlexContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 720px) {
    .RecipeContainer {
        border: solid black 2px;
        width:300px;
        padding:10px;
    }
}

@media screen and (min-width: 720px) {
    footer {
        background-image: url(../images/header.jpeg);
        height: 200px;
        padding-left: 0;
    }
}

    .CmsTable {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }


    .CmsTable td, .CmsTable th {
        border: 1px solid #ddd;
        padding: 8px;
    }


    .CmsTable tr:nth-child(even) {
        background-color: #f2f2f2;
    }


    .CmsTable tr:hover {
        background-color: #ddd;
    }


    .CmsTable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }

